body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(18, 18, 18);
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0); /* Transparent black background */
    padding: 10px 0;
}

.container {
    max-width: 400px;
    background-color: white;
    margin: auto auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    justify-content: center;
    align-items: center;
    margin-left: 34%;
    width: 50%;
}

.logo img {
    max-width: 70px; /* Adjust the size as needed */
}
.txt{
    width: 45%;
    margin-right: 10%;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:rgb(192, 189, 255);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #151515;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
.btn:hover{
    background-color: white;
    border: 1px solid black;
    color: #151515;
    transition: 1s;
}
.btn:active{
    scale: 1.05;
    transition: 0.3;
}


#qrcode {
    margin-top: 20px;
}
